<ion-modal-view class="addPOI">
  <div class="bar bar-header bar-dark">
    <h1 class="title">Add a POI</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="cancelPOI()">Cancel</button>
    </div>
  </div>
  <ion-content class="has-header">
    <div class="list">
    <!-- icons of good or bad to based on user select TODO: get Good/Bad Options working-->
      <label class="item item-input">
        <span class="input-label">
          Rate This POI
        </span>
          <ion-radio ng-model="currentPOI.type" value="good" name="type"><i class="icon ion-happy larger"></i></ion-radio>
          <ion-radio ng-model="currentPOI.type" value="bad"name="type"><i class="icon ion-sad larger"></i></ion-radio>
          <!-- <ion-radio ng-model="currentPOI.type" ng-value="meh">Meh</ion-radio> -->
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="What is this POI?" ng-model="currentPOI.title">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="Describe what this POI is" ng-model="currentPOI.description">
      </label>
      <div ng-click="showRoutes()"><label class="item item-input item-stacked-label"><span class="input-label add-to-route-header">Add to Route</span></label></div>
      <label class="item item-input item-stacked-label item-remove-animate" ng-show="showRouteList">
        <ion-list>
          <div class="existing-routes" ng-repeat="(routeID, routeName ) in allRoutes">
            <ion-radio ng-model="currentPOI.route" ng-value="routeName" ng-click="handleNewRoute(false)" name="routes">{{ routeName }}</ion-radio>
          </div>
          <!-- separate radio to display the text input for new route -->
          <ion-radio ng-value="" ng-model="currentPOI.route" name="routes" ng-click="handleNewRoute(true)">Add new Route</ion-radio>

        </ion-list>
      </label>
      <!-- hidden text input to show if the new route radio is selected -->
      <div class="item-remove-animate" ng-show="addNewRoute">
        <label class="item item-input item-stacked-label" >
          <span class="input-label">New Route</span>
          <input type="text" ng-model="currentPOI.route" name="routes" placeholder="Route Name" />
        </label>
      </div>
      <div class="row">
      <button class="button col block button-dark" ng-click="savePOI()">Add POI</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>